@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mint: #63bca5;
  --color-charcoal: #333333;
  --color-cool-gray: #f5f5f5;
}

@layer base {
  body {
    @apply bg-white text-[#333333];
  }
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

